<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.unisoprojeto.serenamente" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>SerenaMente</name>
    <description>Aplicativo feito como um projeto do curso de Engenharia da Computação da UNISO</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Vitor Gabriel
    </author>

    <content src="index.html" />

    <platform name="permission">
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/uses-permission">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </edit-config>

        <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
        </feature>

    </platform>

</widget>
