@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto; 
    background: white; 
}

header {
    background-color: #fc7fb6; 
    display: flex;
    align-items: center; 
    padding: 0;
    width: 100%;
    height: 80px; 
}


.logo_secundaria {
    width: 120px; 
    height: auto; 
    margin-left: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    margin-left: 10px; 
}

#title h1 {
    font-size: 3vw; 
    color: white;
}

#conteudo-principal {
    padding: 4%;
}

#conteudo-principal h2 {
    font-size: 2rem;
    margin-bottom: 1.1rem;
    color: #ff69b4; 
}

#conteudo-principal h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
    padding-left: 40px; 
}

#conteudo-principal p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    line-height: 1.6;
    color: black;
    padding-left: 40px; 
    margin-bottom: 1rem; 
}


footer {
    padding: 5%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff69b4;
}

.footer-content p, .footer-content a {
    color: #DBD45B;
    text-align: center;
    margin: 0.5rem 0;
}

.footer-content a {
    text-decoration: none;
}

.botoes-container {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

.botao {
    background-color: #DBD45B;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #c7ba47;
}

@media (max-width: 768px) {
    header {
        flex-direction: row; 
    }

    .logo_secundaria {
        width: 23%; 
    }

    #title h1 {
        font-size: 5vw; 
    }

    #conteudo-principal {
        padding: 2%;
    }

    #conteudo-principal h2 {
        font-size: 1.5rem; 
    }

    #conteudo-principal h3 {
        font-size: 1.3rem; 
        padding-left: 20px; 
    }

    #conteudo-principal p {
        font-size: 1rem; 
        padding-left: 20px; 
    }

    .botoes-container {
        flex-direction: column; 
        align-items: center; 
    }
}

@media (max-width: 480px) {
    .logo_secundaria {
        width: 20%; 
    }

    #title h1 {
        font-size: 5vw; 
    }

    #conteudo-principal {
        padding: 5%; 
    }

    #conteudo-principal h2 {
        font-size: 1.2rem; 
    }

    #conteudo-principal h3 {
        font-size: 0.9rem; 
    }

    #conteudo-principal p {
        font-size: 0.9rem; 
    }

    .botao {
        width: 100%; 
        padding: 10px; 
    }
}
