*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #fc7fb6
}

.header {
    background-color: #fc7fb6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0%;

    .logo_secundaria {
        width: 130px;
    }
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
    padding-top: 50px;
}

.regras {
    color: aliceblue;
    font-size: small;
    padding-top: 5px;
}

.alvos {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    
}

.imagem-botao {

    cursor: pointer;
    width: 120px; 
    height: auto;
    margin: 1%;
    transition: transform 0.3s;
}
.imagem-botao:hover {
    transform: scale(1.1); 
}

@media (max-width: 630px) {
    .alvos1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 7.5px;
    }

    .imagem-botao {
        padding-top: 15px;
    }
}