:root{
    --branco: #FFFF;
    --gelo: #f1f1f1;
    --rosa: #fc7fb6;
    --preto: #2a2a2a;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
}

.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner{
    background-color: var(--branco);
    border-top: 1px solid var(--gelo);
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;  
    color: var(--rosa);  
}

.toolbar-inner .link:not(.active){
    color: var(--preto);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

.top-nav {
    width: 100%;
    height: 60px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-logo {
    font-weight: 600;
    margin-left: 5%;
}

.titulo-logo span {
    color: var(--rosa);
}

.notficacoes {
    width: 40px;
    height: 40px;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50%;
    border: 1px solid var(--gelo);
    font-size: 24px;
    color: var(--preto);
}

.notficacoes::before {
    content: attr(data-count);
    background: var(--rosa);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--branco);
    position: absolute;
    top: 5px;
    right: 0px;
    margin-right: 5%;
}

.notficacoes [data-count = "0"]::before {
    display: none;
}

a{
    color: var(--rosa);
    font-weight: 600;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.psico-card {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 400px; 
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.psico-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.psico-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px; /* Adiciona espaço entre a foto e o texto */
}

.psico-foto img {
    max-width: 95%;
    min-width: 95%;
    border-radius: 10px;
    object-fit: cover;
}

.psico-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.psico-nome {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.psico-descricao {
    color: grey;
    font-size: 14px;
}

.psico-valor {
    font-size: 16px;
    font-weight: bold;
    color: var(--preto);
    margin-top: 10px;
}

.btn-inicio {
    color: var(--branco);
    background-color: var(--rosa);
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border-color: var(--rosa);
}

.psico-card-chat {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 500px; 
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid var(--gelo);
}

.psico-link-chat {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.psico-foto-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px; /* Adiciona espaço entre a foto e o texto */
}

.psico-foto-chat img {
    max-width: 95%;
    min-width: 95%;
    border-radius: 50%;
    object-fit: cover;
}

.psico-info-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.psico-nome-chat {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.psico-descricao-chat {
    color: grey;
    font-size: 12px;
}

