body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(180deg, rgb(255, 0, 166), rgb(246, 116, 196));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

:root{
    --branco: #FFFF;
    --gelo: #f1f1f1;
    --rosa: #fc7fb6;
    --preto: #2a2a2a;
}

.container {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    margin-bottom: 100px;
    width: 200px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 166);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





